.container {
  width: 100vw;
  height: calc(100vh - 5rem);
  padding: 3rem;
}

.field-container {
  margin: 0 auto;
  width: calc(100vw - 6rem);
  height: calc(100vh - 12rem);
}

.sidebar-container {
  margin: 0 auto;
  width: calc(50vw - 6rem);
}

.form-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 1.5rem;
  font-size: $font-size-lighter;
  margin: 1rem auto;
}

.form-single-container {
  @extend .form-container;
  grid-template-columns: repeat(1, 1fr);
}
